@font-face {
        font-family: 'Della Respira';
        src: local('Della Respira'),
             local('DellaRespira-Regular'),
             url('/static/fonts/DellaRespira.ttf') format('truetype'),
             url('/static/fonts/DellaRespira.eot') format('embedded-opentype'),
             url('/static/fonts/DellaRespira.woff') format("woff"),
             url('/static/fonts/DellaRespira.svh') format("svg");
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/static/fonts/glyphicons-halflings-regular.eot');
  src: url('/static/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('/static/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('/static/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

* { 
        -webkit-tap-highlight-color:rgba(0,0,0,0); 
}

body {
        padding-top: 60px;
        //background-color: #EEE;
}

img {
        margin: auto;
}

#bar-title {
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 30px;
        background-color: #34759D;
        text-align: center;
        margin-bottom: 20px;
}

#table-no-border tr td {
        border-left: 0px solid #FFF;
        border-right: 0px solid #FFF;
}

#bar-title h1 {
        color: #FFF;
}

#matrix {
        min-width: 250px;
        text-align: center;
        margin: auto;
}

.linear {
        overflow: auto;
}

.linear .linear-element {
        float: left;
}

hr {
        margin-top: 20px;
        margin-bottom: 20px;
        height: 2px;
        background-color: #DDD;
}

.main-footer {
        background-image: url("/static/img/logo.png");
        background-repeat: no-repeat;
        margin-top: 20px;
        border-top: 2px solid #DDD;
        padding: 20px;
        color: #666;
}
