body {
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
        background:#333;
        text-align: center;
}

p {
        margin: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
}

a { text-decoration: none; color:#222; }
a:hover { color:#69C; }

h1 {
        font-size: 24px;
        background-color: #333;
        padding: 10px;
        color: #FFF;
        margin: 0px;
}
h1 a { color: #FFF; }

h2 {
        font-size: 18px;
        background-color: #9F9;
        padding: 10px;
        margin: 0px;
}

h3 {
        font-size: 18px;
        background-color: #BBB;
        padding: 10px;
        margin: 0px;
}

ul {padding: 0px; margin: 0px;}
ol {padding: 0px; margin: 0px;}

#content p, .li-even, .li-odd {
        margin: auto;
        padding: 15px;
        list-style: none;
        color: #333;
        max-width: 800px;
}
.wcontent-p, .wli-even { background:#EEE; }
.wli-odd { background:#CCC; }

/* Compatible with Markdown */

#footer { color: #DDD; padding-top: 16px;}
#footer a { color: #FFF; }
#footer a:hover { color: #69C; }
#content {background-color: #EEE; }

.textbox {
        width: 70%;
        height: 20px;
        border: solid 5px #6CF;
        margin-right: 5px;
        background: #FFF;
}

.pushbutton {
        margin-left: 5px;
        background: #6CF;
        text-decoration: none;
        color: #000;
        border: none;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
        cursor: pointer;
}

#alert {
        background-color: #FFF;
        position: fixed;
        top: 100px;
        left: 50%;
        padding:10px;
        width: 200px;
        border: 5px solid #6CF;
        margin-left: -115px;
        /* ie6 hack */
        _position: absolute;
        _top: expression(documentElement.scrollTop + 0);
}
