.hand-card {
	height: 50px;
	width: 50px;
	float: left;
	line-height: 50px;
	margin: 5px;
	font-size: 24px;
        color: #FFF;
        cursor: pointer;
}

.player-active {
        background-color:#F63;
}

.oper_btn {
	background-color: #F63;
	color: #222;
	padding: 5px;
        margin:5px;
        cursor: pointer;
}

.quit_btn {
	background-color: #067;
	color: #FFF;
	padding: 5px;
        margin:5px;
        cursor: pointer;
}

#table-card {
	width:100px; 
	height: 100px; 
	line-height:100px; 
	margin:auto; 
	text-align:center; 
	font-size:24px; 
	color:#FFF; 
	border:5px solid #333;
}

#hand {
        background-color: #555;
        overflow:auto;
        _height:1%;
}

#message { color: #555; }
#message p { display: inline; }
