body {
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        font-family: Arial, Helvetica, sans-serif;
        background:#333;
        text-align: center;
}

a {
        text-decoration: none;
}

.page-title {
        font-size: 24px;
        background-color: #333;
        padding: 5px;
}
.page-title a {
        color: #FFF;
        text-decoration: none;
}

.sub-title {
        font-size: 18px;
        background-color: #CCC;
        padding: 5px;
}
.sub-title a {
        color:#000;
        text-decoration: none;
}

.submit-text {
        width: 70%;
        height: 20px;
        border: none 0px;
        margin-right: 5px;
        background: #FFF;
}

.submit-btn {
        margin-left: 5px;
        background: #39F;
        text-decoration: none;
        color: #000;
        border: none;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 1px;
        padding-bottom: 1px;
        cursor: pointer;
}

.input-bar {
        background:#DDD;
        padding: 10px;
}

.left-side {
        margin: auto;
        text-align: left;
}

.content_0 {
        padding: 10px;
        background:#E5E5E5;
        color: #333;
}

.content_1 {
        padding: 10px;
        background:#DDD;
        color: #333;
}

.content_1 a, .content_0 a {
        color: #036;
        text-decoration: none;
        font-weight:500;
}

.footer {
        color:#CCC;
}

.footer a {
        color: #FFF;
        text-decoration: none;
}
