$def with(inputce, state, result)

<div id="bar-title">
    <a href="/ce_balancer/"><h1>CE Balancer</h1></a>
</div>

<div class="container" style="text-align: center;">
    <form class="form-search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Chemical Equation" name="ce" value="$inputce"/>
            <span class="input-group-btn">
                <input type="submit" class="btn btn-default" value="Balance"></input>
            </span>
        </div>
    </form>
    <hr/>


    $if state == "example":
        <div class="panel panel-info">
        <div class="panel-heading">Examples</div>
        <div class="list-group">
        $for example in result:       
            <a href="?ce=$example[1]" class="list-group-item">$example[0]</a>
        </div>
        </div>

    $if state == "succeeded":
        <div class="panel panel-success">
        <div class="panel-heading">Balanced Successfully</div>
        <div class="panel-body">
        $:result
        </div>
        </div>

    $if state == "failed":
        <div class="panel panel-danger">
        <div class="panel-heading">Error Occurs!</div>
        <div class="panel-body">
        <p>$:result[0]</p>
        <hr />
        <table cellpadding="0" cellspacing="0" id="matrix">
            $for row in result[1]:
            <tr><td></td>
                $for column in row:
                    <td>$column</td>
            <td></td></tr>
        </table>
        </div>
        </div>

    <div class="well text-right">
        <p>Need help?</p>
        <a href="/ce_balancer/">Examples</a><br/>
        <a href="/article/chemical_elements">Chemical Elements</a>
    </div>

</div>
