$def with(state, data, gb)

<script>var state = "$state";</script>
$if state == "item" or state == "group":
    <script src="/static/js/shihira-ebblist.js"></script>
$elif state == "review":
    <script src="/static/js/shihira-ebbreview.js"></script>
<script src="/static/js/soundmanager2-nodebug-jsmin.js"></script>

<div id="bar-title">
    <h1>Memory Booster</h1>
</div>

<div class="container">

    $if state != "review":
        <div class="clearfix">
            $if state == "item":
                <div class="pull-left">
                    <a class="btn btn-warning" href="/ebbinghaus/group">
                      <span class="glyphicon glyphicon-circle-arrow-left"></span> Groups
                    </a>
                </div>
            <div class="pull-right">
                <a class="btn btn-primary" id="btn-add">
                  <span class="glyphicon glyphicon-plus-sign"></span> Add
                </a>
                $if state == "item":
                    <div class="btn-group">
                        <a class="btn btn-success" href="/ebbinghaus/review?gid=$(gb["uuid"])&skim=0&no_hear=0" target="_blank">
                          <span class="glyphicon glyphicon-eye-open"></span> Review
                        </a>
                        <a class="btn btn-success dropdown-toggle" id="btn-toggle" data-toggle="dropdown">
                          &nbsp;<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/ebbinghaus/review?gid=$(gb["uuid"])&skim=1&no_hear=0">Skim Through</a></li>
                            <li><a href="/ebbinghaus/review?gid=$(gb["uuid"])&skim=0&no_hear=1">Text Only Review</a></li>
                        </ul>
                    </div>
            </div>
        </div>

        <div class="modal fade" id="adddlg">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
                        $if state == "item":
                            <h4 class="modal-title" id="myModalLabel">Add an Item</h4>
                        $if state == "group":
                            <h4 class="modal-title" id="myModalLabel">Add a Group</h4>
                    </div>

                    <div class="modal-body">
                        $if state == "group":
                            <input type="text" class="form-control" placeholder="eg. Group 1" id="edit-add">
                        $if state == "item":
                            <input type="text" class="form-control" placeholder="eg. extinguish" id="edit-add">
                            <p class="help-block" id="help-item"></p>
                            <textarea class="form-control hidden" placeholder="eg. To put out or to quench." id="edit-content"></textarea>
                    </div>
                    <div class="modal-footer">
                        $if state == "item":
                            <a class="btn btn-default btn-md hidden" id="btn-dict">
                                <span class="glyphicon glyphicon-book"></span>
                            </a>
                            <a class="btn btn-default btn-md" id="btn-adv">
                                <span class="glyphicon glyphicon-align-justify"></span>
                            </a>
                        <a class="btn btn-primary" id="btn-confirm">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>

        <table class="table table-hover" id="table-no-border" style="margin-top: 20px">
        $for i in data:
            <tr class="ebbitem" style="cursor: default;"
            $if state == "group" or state == "item":
                uuid="$i[0]"
            >
            <td>
                <span class="glyphicon glyphicon-remove-circle text-danger ebbitem-close"></span>&nbsp;&nbsp;
                $i[1]
            </td>
            <td class="text-success">$i[2]</td>
            <td class="text-right">
                $if state == "group":
                    <a href="/ebbinghaus/item?uuid=$i[0]">
                <span class="badge" style="width:45px">$i[3] 
                $if state == "group":
                    <span class="glyphicon glyphicon-chevron-right"></span></span></a>
            </td>
            </tr>
        </table>

        <div class="text-center">
            <ul class="pagination  pagination-sm">
                $for i in range(1, gb["pcount"] + 1):
                    <li
                    $if gb["page"] == i - 1:
                        class="active"
                    ><a style="margin-top: 5px;" href="?&uuid=$(gb["uuid"])&p=$(i - 1)">$i</a></li>
            </ul>
        </div>


    $if state == "review":
        <script>var skim = $(gb["skim"]), no_hear = $(gb["no_hear"]);</script>
        <h2 id="review-question">......</h2>
        <hr/>
        <div class="row" style="display: none" id="review-carea">
            $for i in range(0, 4):
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <a type="a" class="btn btn-info btn-block review-choice">N/A</a><br/>
                </div>
        </div>
        <div class="row" style="display: none" id="review-iarea">
            <div class="col-xs-12">
                <div class="input-group">
                    <input type="text" class="form-control" id="review-input" />
                    <span class="input-group-btn">
                        <a class="btn btn-info" id="review-submit">Submit</a>
                    </span>
                </div>
                    <span class="help-block" id="answer-display"></span>
                </div>  
        </div>
        <div class="text-right">
            <a type="a" class="btn btn-success" id="review-pass">Not again</a>
            <a type="a" class="btn btn-warning" id="review-dontknow">Unfamiliar</a>
        </div>

</div>

