$def with (projects)
<div id="bar-title">
    <img src="/static/img/title.png" class="img-responsive"/>
</div>

<div class="container">
    <div class="row" column="3" minw="300">
    $for proj in projects:
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="$:proj[2]"><img class="img-responsive img-rounded" src="/static/img/$:proj[1]" /><h3>$:proj[0]</h3></a>
            <p>$:proj[3]</p>
        </div>
    </div>
</div>
