$def with(state, cards)

<script src="/static/js/shihira-uno-makecard.js"></script>
<script src="/static/js/shihira-uno.js"></script>
<style>

#table-card {
    height: 210px; width: 151px;
    margin: auto;
    background: no-repeat;
    background-size: 100% 100%;
    background-position:50% 50%;
    border: 5px #FFF solid;
    text-align: center;
    font-family: Impact;
    font-size: 80px;
    font-weight: 900;
}

.hand-card {
    margin: 5px;
    height: 70px; width: 46px;
    background: no-repeat;
    background-size: 100% 100%;
    background-position:50% 50%;
    border: 2px #FFF solid;
    text-align: center;
    font-family: Impact;
    font-size: 25px;
    font-weight: 900;
}

.sel-color {
    height:30px;
    width:30px;
    margin:5px;
}

</style>

<div id="bar-title">
    <h1>UNO&trade; Online</h1>
</div>

<div class="container">
        <div class="row">
                <div class="col-md-8 col-xs-6">
                    <div class="img-rounded" id="table-card" pattern="=" color="0"></div>
                </div>
                <div class="col-md-4 col-xs-6">
                    <table class="table center">
                        <thead>
                            <td>Player</td><td>Hand</td>
                        </thead>
                        <tr> <td>Shihira</td> <td>1</td> </tr>
                        <tr> <td>Shihira</td> <td>1</td> </tr>
                        <tr> <td>Shihira</td> <td>1</td> </tr>
                    </table>
                </div>
        </div>

        <div class="hide" id="color-popover">
            <div class="linear">
                <a class="linear-element sel-color" color="0"></a>
                <a class="linear-element sel-color" color="1"></a>
                <a class="linear-element sel-color" color="2"></a>
                <a class="linear-element sel-color" color="3"></a>
            </div>
        </div>

                <div class="well" style="margin-bottom: 0px; margin-top: 25px;">
                    <strong>Shihira</strong> came in.
                </div>
        <div class="row">
            <div class="col-md-8">
        <hr/>
            </div>
            <div class="col-md-4" style="text-align: right; margin-bottom: 10px; margin-top: 10px;">
                <a class="btn btn-info" id="btn-draw"><span class="glyphicon glyphicon-plus-sign"></span></a>
                <a class="btn btn-info" id="btn-confirm"><span class="glyphicon glyphicon-ok"></span></a>
                <a class="btn btn-default" id="btn-check"><span class="glyphicon glyphicon-repeat"></span></a>
                &nbsp;&nbsp;&nbsp;
            </div>
        </div>

        <div class="linear" id="hand-cards">
            $for card in cards:
                <div class="hand-card" uuid="$card[0]" color="$card[1]" pattern="$card[2]"></div>
        </div>
</div>

