$def with (equation, error, ce)
$var css_files: /static/style.css
$var js_files: /static/shihira.js
$var footnote: Examples: <a href="/balance_ce">start page</a><br />Elements Reference: <a href="/article/chemical_elements">chemical elements</a>
$var text_align: center

<h2><a href="/balance_ce">Chemical Equation Balancing</a></h2>
<form><p>
    <input class="textbox" type="text" name="ce" value="$ce"/>
    <input class="pushbutton" type="submit" value="Run"/>
</p></form>
<ul>
$if not equation:
    <h3>Example</h3>
    <li>H2SO4 + K4Fe(CN)6 + KMnO4 = CO2 + Fe2(SO4)3 + H2O + HNO3 + KHSO4 + MnSO4</li>
    <li>FeE2 + Cl2 = FeE3 + ClE-</li>
    <li>Al+NaOH+H2O=NaAlO2+H2</li>
    <li>Cu_H2SO4:CuSO4_SO2_H2O</li>
$elif error:
    <h3 style="color:#F00;">Error</h3>
    <li>$:equation</li>
    <li><table width="100%"><tr><td align="center" valign="middle">
    <table cellpadding="0" cellspacing="0" style="min-width:200px;text-align:center;"><tbody>
    $for row in error:
        <tr>
            $code
                css = "width: 5px;"
                if loop.first: css += "border-top: 3px solid #555"
                if loop.last: css += "border-bottom: 3px solid #555"
            <td style="$css;border-left: 3px solid #555;"></td>
            $for column in row:
                <td>$column</td>
            <td style="$css;border-right: 3px solid #555;"></td>
        </tr>
    </tbody></table></td></tr></table></li>
$else:
    <h3>Result</h3>
    <li>$:equation</li>
</ul>
