$def with (terms)
$var css_files: /static/style.css
$var js_files: /static/shihira.js
$var footnote: 
$var text_align: center

<script>
$$(document).ready(function() {
    $$("#text-term").click(function() {
        if($$(this).attr("value") == "Memory Term") $$(this).attr("value", "");
    });
    $$("#text-tips").click(function() {
        if($$(this).attr("value") == "Tips") $$(this).attr("value", "");
    });

    $$(".delete").click(function() {
        var par = $$(this).parents("[uuid]");
        var url = "/ebbinghaus/delete";
        url += "?uuid=" + par.attr("uuid");
        $$.post(url);
        par.slideUp();
    });

    $$("#add").click(function() {
        var url = "/ebbinghaus/add"
        url += "?term=" + $$("#text-term").val();
        url += "&tips=" + $$("#text-tips").val();
        $$.post(url, function(){location.reload();});
    });

    $$("#query").click(function() {
        var word = $$("#text-term").val();
        var url = "/ebbinghaus/query?word=" + word;
        $$.get(url, function(data) {
            $$("#text-tips").val(data);
        });
    });
});
</script>

<h2><a href="/ebbinghaus/list">Ebbinghaus Memory Booster</a></h2>
<h3>Add a Memory Term
    <button id="add" class="pushbutton">Add</button>
    <button id="query" class="pushbutton">Query</button>
</h3>
<ul>
    <li><input id="text-term" class="textbox" type="text" name="term" value="Memory Term"/></li>
    <li><input id="text-tips" class="textbox" type="text" name="tips" value="Tips"/></li>
</ul>
<a href="/ebbinghaus/review"><h3 style="background-color: #CFF;">Start Reviewing</h3></a>
<h3>Memory Terms List</h3>
<ul>
$for term in terms:
    <li uuid="$term.uuid">
    <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0"><tr>
    <td width="40%" align="left">$term.term</td>
    <td width="45%" align="left" style="color:#464">$term.tips</td>
    <td width="5%" align="left"><img class="delete" src="/static/ox.png" /></td>
    <td width="$(term.strength())%" align="left" style="background:#77C"></td>
    <td width="$(10 - term.strength())%" align="left" style="background:#555"></td>
    </tr></table>
    </li>
</ul>
