$def with ()
$var css_files: /static/style.css
$var js_files: /static/shihira.js
$var footnote: 
$var text_align: left

<style>
    .opt {
        cursor: default;
        color: #706047;
        padding: 15px;
        padding-left: 25px;
        background-color: #EEE;
        list-style-type: square;
    }

    #tips {
        font-size: 28px;
        color: #4B7584;
    }

    #fitb-text {
        width: 70%;
        height: 35px;
        font-size: 28px;
        border: 0px;
        border-bottom: solid 5px #6CF;
        margin-right: 5px;
        margin-top: 30px;
        background: #CCC;
    }
</style>

<script>
var question;
var waiting = false;

function loadq(json) {
    question = $$.parseJSON(json);
    $$("#tips").html(question.tips);
    if(question.options) {
        $$(".opt").css("background-color", "#EEE");
        $$("#fitb").slideUp();
        $$("#mcq").slideDown();
        $$(".opt").each(function() {
            var i = $$(this).index(".opt");
            $$(this).html(question.options[i]);
        });
    } else {
        $$("#fitb-text").css("border-bottom", "solid 5px #6CF");
        $$("#fitb-text").val("");
        $$("#fitb").slideDown();
        $$("#mcq").slideUp();
    }
    waiting = false;
}

function requestq(sel) {
    var url = "/ebbinghaus/next";
    if(sel != -1 && question) {
        url += "?uuid=" + question.uuid;
        url += "&state=";
        url += sel == question.correct;
    }

    $$.get(url, loadq);
}

$$(document).ready(function() {
    requestq(-1);

    $$(".opt").click(function() {
        var i = $$(this).index(".opt");
        if(i == question.correct)
            $$(this).css("background-color", "#A9F5BC")
        else {
            $$(".opt:eq("+question.correct+")").css("background-color", "#A9F5BC");
            $$(this).css("background-color", "#F5A9A9");
        }
        setTimeout(function(){requestq(i);}, 2000);
        waiting = true;
    });

    $$("#fitb-btn").click(function() {
        var val = $$("#fitb-text").val();
        if(val == question.correct)
            $$("#fitb-text").css("border-bottom", "solid 5px #A9F5BC")
        else {
            $$("#fitb-text").val(question.correct);
            $$("#fitb-text").css("border-bottom", "solid 5px #F5A9A9");
        }
        setTimeout(function(){requestq(val);}, 2500);
        waiting = True
    });

    $$(".opt").mouseenter(function(){if(!waiting)$$(this).css("background-color", "#FFF");});
    $$(".opt").mouseleave(function(){if(!waiting)$$(this).css("background-color", "#EEE");});
    $$("#fitb-text").keypress(function(e){if(e.which == 13)$$("#fitb-btn").trigger("click");});


    $$("#break").click(function() {
        if(question.options) $$(".opt:eq("+question.correct+")").trigger("click");
        else $$("#fitb-btn").trigger("click");
    });
});
</script>

<h2><a href="/ebbinghaus/list">Ebbinghaus Memory Booster</a></h2>
<ul>
<li id="tips"></li>
<li>
<div id="mcq" style="display:none">
    <table width="100%" cellspacing="20"><tr>
        <td class="opt" width="50%"></td>
        <td class="opt"></td>
    </tr><tr>
        <td class="opt"></td>
        <td class="opt"></td>
    </tr></table>
</div><div id="fitb" style="display:none">
    <input id="fitb-text" type="TEXT" value="" onkeypress=""/>
    <button id="fitb-btn" class="pushbutton">Submit</button>
</div>
</li>
<li style="text-align:right;">
    <button id="break" class="pushbutton">Give Me the Answer and Skip</button>
</li>
</ul>

