$def with (projects)
$var css_files: /static/style.css
$var js_files: /static/shihira.js
$var footnote: 
$var text_align: center

$for project in projects:
    <h2><a href="$project[1]">$project[0]</a></h2>
    <p>$project[2]</p>
